@import "~bootstrap/scss/bootstrap";
$bg-color: #f8f9fa;
$light-green: #17a288;
$gray: #616161;

body {}

.header {


    a {
        color: inherit;
    }
}

.slider {
    &-item {
        height: 350px;

        &__img {
            display: flex;
            position: relative;


            &::after {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.507);
            }
        }

        &__caption {
            top: 15%;

            h3 {
                font-size: 48px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1.1px;
            }

            p {
                margin-top: 30px;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 1.1px;
            }
        }
    }
}

.genres {
    padding: 35px 0;

    &-title {
        span {
            font-size: 20px;
            text-transform: uppercase;
            margin-right: 5px;
        }

        a {
            font-size: 16px;
            color: $light-green;
        }

        margin-bottom: 30px;
    }

    &-item {
        height: 170px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        box-shadow: 0 0 10px 4px #817d79;
        cursor: pointer;
        transition: .3s ease;

        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            max-width: 100%;
            opacity: 0.8;

        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35%;
            width: 100%;

            background-color: rgba(0, 0, 0, 0.281);

            color: white;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
        }

        &:hover {
            transform: translateY(-4%);
        }

    }

    a:hover {
        text-decoration: none;
    }
}



.book {
    margin-top: 30px;
    color: $gray;
    &-img {
        padding-top: 30px;
        img {
            max-width: 100%;
            height: 250px;
            box-shadow: 0 0 10px 4px #817d79;
        }

        margin-bottom: 20px;
    }

    &-col {
        &__left {
            padding-left: 100px;

        
            p {
   
                font-size: 16px;
                margin-bottom: 0;
            }
            span {

            }
        }

        &__right {
            button {
                margin-bottom: 20px;
            }
        }
    }

    &-author {
        font-size: 16px;
        span {
            color: $light-green;
        }
    }
    &-description {
        font-size: 16px;
    }

}

.books {
    margin-top: 30px;

    &-col {
        &__left {
            background-color: $bg-color;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }
    &-form {
        padding-top: 20px;
        h3 {
            font-size: 26px;
        }

        button {
            margin-top: 20px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-title {
        margin-bottom: 50px;
    }

    &-item {
        width: 100%; 
        transition: .3s ease;

        img {
            box-shadow: 0 0 10px 4px #817d79;
            max-width: 100%;
            height: 250px;
            margin-bottom: 10px;
        }

        p {}

        &:hover {
            transform: translateY(-3%);
        }

    }
}